<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!--訂製自己的httpclient-->
       <bean id="closeableHttpClient" class="com.kdb.http.PooledCloseableHttpClient">
       </bean>

       <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
              <property name="requestFactory">
                     <bean class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">
                            <constructor-arg index="0" ref="closeableHttpClient"/>
                     </bean>
              </property>
       </bean>

       <import resource="applicationContext-mybatis.xml"/>
</beans>